.sell {
  h2 {
    font-weight: 600;
    }

  .agreement-banner-text {
    background-color: #3f8edf;
    padding: 30px 16px 30px;
    border-radius: $border-radius-primary;
  }

.agreement-banner-text-color {
  color: white;
}

  .agreement-banner {
    margin: 0 auto;
    width: 200px;

    @include media-breakpoint-up(md) {
      width: 250px;
    }
  }
}

.client-dashboard {
  .client-box {
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-secondary;
  }
}
