.users-dashboard {
  .u-list {
    .user-box {
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-primary;
    }
  }
}

/* start user role styles */
.role {
  padding: 8px 10px;
  border-radius: $border-radius-default;
  font-weight: $font-weight-bold-one;

  &.admin {
    background-color: $primary-bg;
    color: $white;
  }

  &.client {
    background-color: $outline-color;
    color: $white;
  }

  &.member {
    background-color: $secondary-bg;
  }

  &.externalauditor {
    background-color: $theme-pink;
    color: $white;
  }

  &.implementer {
    background-color: $green;
    color: $white;
  }

  &.regulator {
    background-color: $purple;
    color: $white;
  }

  &.internalauditor {
    background-color: $theme-green;
    color: $white;
  }
}
/* end user role styles */
